<div class="col-md-12">
	<div class="row">
		<h2 class="text-center">
			<u>Lista de Infracões</u>
		</h2>
	</div>
	<div class="row"></div>
	<br />
	<div class="row">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Agente</td>
					<td>Local da Infração</td>
					<td>Tipo de Infração</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in infracoes">
					<td>{{item.agente.nome}}</td>
					<td>{{item.localInfracao.descricaoLocalInfracao}}</td>
					<td>{{item.tipoInfracao.descricaoTipoInfracao}}</td>
				</tr>
				<tr ng-show="notFound" class="text-center">
					<td colspan="4">Nï¿½o tem registros</td>
				</tr>
			</tbody>
		</table>

		<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas> 
	</div>
</div>